.favorites-title {
    margin-left: 20px;
    }

    .favorites-list {
        list-style-type: none;
    }
    
    .favorites-item {
        font-family: 'Manrope', sans-serif;
        font-size: 18px;
    }