.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: flex-end;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-top: 20px;
}

.form-block {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid #4f595c;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-content {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    align-items: center;
}


.first-name {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
}

.last-name {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
}

.age {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
}

.address {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
}

.mobile {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
}

.input-style {
  color: #333; /* Колір тексту */
  background-color: #f2f2f2; /* Колір фону */
  border: 2px solid #ccc; /* Рамка */
  padding: 8px; /* Відступи */
  border-radius: 4px; /* Закруглені кути */
}

/* Зміна стилів для помилкових повідомлень */
.error-value {
  color: red; /* Колір тексту помилки */
}